.f0{--rot:-15deg}
.f1{--rot:-2deg}
.f2{--rot:-45deg}
.f3{--rot:-5deg}
.f4{--rot:-8deg}
.f5{--tx:-50%}
.f6{--ty:-50%}
.f7{overflow-wrap:break-word}
.f8{position:absolute}
.f9{backdrop-filter:blur(7.2px)}
.f10{background:#191620}
.f11{background:#201b2a}
.f12{background:#262030}
.f13{background:#332a40}
.f14{background:#51416d}
.f15{background:#8964cf}
.f16{background:#a4ccc7}
.f17{background:#af94ce}
.f18{background:#bea7de}
.f19{background:#bfa7db}
.f20{background:#ebf777}
.f21{background:rgba(32,27,42,0.5)}
.f22{background:rgba(84,101,255,0.16)}
.f23{display:block}
.f24{border-width:1px}
.f25{border-width:2px}
.f26{border-width:3px}
.f27{border-color:#201b2a}
.f28{border-color:#a482de}
.f29{border-color:#af94ce}
.f30{border-color:#ebf777}
.f31{border-color:#f5f0f7}
.f32{border-left-width:3px}
.f33{border-style:solid}
.f34{bottom:0}
.f35{bottom:137px}
.f36{grid-column:1}
.f37{align-content:stretch}
.f38{display:contents}
.f39{cursor:pointer}
.f40{display:flex}
.f41{flex-direction:column}
.f42{flex:none}
.f43{font-family:"DM Sans",sans-serif;font-weight:700}
.f44{font-family:"DM Sans",sans-serif;font-weight:500}
.f45{font-family:"DM Sans",sans-serif;font-weight:400}
.f46{font-family:"DM Sans",sans-serif;font-weight:400}
.f47{font-weight:700}
.f48{font-weight:500}
.f49{font-weight:400}
.f50{gap:100px}
.f51{gap:102px}
.f52{gap:10px}
.f53{gap:110px}
.f54{gap:127px}
.f55{gap:12px}
.f56{gap:130px}
.f57{gap:13px}
.f58{gap:15px}
.f59{gap:16px}
.f60{gap:18px}
.f61{gap:20px}
.f62{gap:24px}
.f63{gap:25px}
.f64{gap:26px}
.f65{gap:27px}
.f66{gap:28px}
.f67{gap:30px}
.f68{gap:34px}
.f69{gap:38px}
.f70{gap:3px}
.f71{gap:40px}
.f72{gap:42px}
.f73{gap:43px}
.f74{gap:46px}
.f75{gap:48px}
.f76{gap:50px}
.f77{gap:54px}
.f78{gap:58px}
.f79{gap:5px}
.f80{gap:60px}
.f81{gap:62px}
.f82{gap:66px}
.f83{gap:7px}
.f84{grid-template-columns:max-content}
.f85{grid-template-rows:max-content}
.f86{height:0}
.f87{height:1000px}
.f88{height:100px}
.f89{height:1011.427px}
.f90{height:105px}
.f91{height:110px}
.f92{height:1170px}
.f93{height:1300px}
.f94{height:1320px}
.f95{height:1339px}
.f96{height:1340px}
.f97{height:140px}
.f98{height:156px}
.f99{height:177px}
.f100{height:180px}
.f101{height:202px}
.f102{height:215.262px}
.f103{height:228.387px}
.f104{height:22px}
.f105{height:235.887px}
.f106{height:238.849px}
.f107{height:240.278px}
.f108{height:243.113px}
.f109{height:249.949px}
.f110{height:254.543px}
.f111{height:254.685px}
.f112{height:259.272px}
.f113{height:259.737px}
.f114{height:264.599px}
.f115{height:265.518px}
.f116{height:265.706px}
.f117{height:270.828px}
.f118{height:272.276px}
.f119{height:275.885px}
.f120{height:281.654px}
.f121{height:283.472px}
.f122{height:285.223px}
.f123{height:285.686px}
.f124{height:289.031px}
.f125{height:292.04px}
.f126{height:292.45px}
.f127{height:294.63px}
.f128{height:300.898px}
.f129{height:306.33px}
.f130{height:306.653px}
.f131{height:313.242px}
.f132{height:315.926px}
.f133{height:322.761px}
.f134{height:328.742px}
.f135{height:329px}
.f136{height:330.325px}
.f137{height:336.287px}
.f138{height:353.454px}
.f139{height:361.727px}
.f140{height:383px}
.f141{height:390px}
.f142{height:395px}
.f143{height:405px}
.f144{height:415px}
.f145{height:445px}
.f146{height:497px}
.f147{height:504px}
.f148{height:510px}
.f149{height:560px}
.f150{height:580px}
.f151{height:592.823px}
.f152{height:600px}
.f153{height:602.197px}
.f154{height:604px}
.f155{height:605px}
.f156{height:620px}
.f157{height:622px}
.f158{height:635px}
.f159{height:64px}
.f160{height:654px}
.f161{height:660px}
.f162{height:680px}
.f163{height:690px}
.f164{height:710px}
.f165{height:715px}
.f166{height:720px}
.f167{height:74px}
.f168{height:766px}
.f169{height:769px}
.f170{height:76px}
.f171{height:788px}
.f172{height:800px}
.f173{height:831px}
.f174{height:859.242px}
.f175{height:86.025px}
.f176{height:866px}
.f177{height:888px}
.f178{height:89.533px}
.f179{height:890px}
.f180{height:91.653px}
.f181{height:95.62%}
.f182{height:100%}
.f183{display:inline-grid}
.f184{inset:0}
.f185{inset:-0.28px 0}
.f186{inset:-4.79px -5.75% -4.79px 0}
.f187{inset:-7.36px -4.55% -7.36px 0}
.f188{inset:-7.36px -4.71% -7.36px 0}
.f189{align-items:center}
.f190{align-items:flex-end}
.f191{align-items:flex-start}
.f192{justify-content:space-between}
.f193{justify-content:center}
.f194{justify-content:flex-end}
.f195{line-height:0}
.f196{line-height:100.1px}
.f197{line-height:105.84px}
.f198{line-height:106.92px}
.f199{line-height:112.86px}
.f200{line-height:17.5px}
.f201{line-height:21.25px}
.f202{line-height:22.5px}
.f203{line-height:23.1px}
.f204{line-height:25px}
.f205{line-height:28px}
.f206{line-height:30px}
.f207{line-height:32.4px}
.f208{line-height:32px}
.f209{line-height:33px}
.f210{line-height:34px}
.f211{line-height:39.6px}
.f212{line-height:40px}
.f213{line-height:56px}
.f214{line-height:65.72px}
.f215{line-height:72px}
.f216{line-height:90.64px}
.f217{line-height:97.37px}
.f218{left:0}
.f219{left:50%}
.f220{left:-10.75px}
.f221{left:-108.7px}
.f222{left:-112.48px}
.f223{left:-14.31px}
.f224{left:-16.09%}
.f225{left:-214.28px}
.f226{left:-218.26px}
.f227{left:-258px}
.f228{left:-4px}
.f229{left:-62.36px}
.f230{left:-66.53px}
.f231{left:101.67px}
.f232{left:106px}
.f233{left:107.58px}
.f234{left:111px}
.f235{left:112px}
.f236{left:119px}
.f237{left:122px}
.f238{left:124px}
.f239{left:136.02px}
.f240{left:139.69px}
.f241{left:167px}
.f242{left:183px}
.f243{left:205.63px}
.f244{left:209.67px}
.f245{left:288.58px}
.f246{left:293.06px}
.f247{left:300.92px}
.f248{left:304.68px}
.f249{left:38.95px}
.f250{left:390.02px}
.f251{left:394.16px}
.f252{left:42.85px}
.f253{left:482.61px}
.f254{left:486.45px}
.f255{left:calc(16.67% + 117px)}
.f256{left:calc(33.33% + 75px)}
.f257{left:calc(33.33% + 92px)}
.f258{left:calc(50% + 0.5px)}
.f259{left:calc(50% + 107px)}
.f260{left:calc(50% - 0.5px)}
.f261{left:calc(50% - 100px)}
.f262{left:calc(66.67% + 38px)}
.f263{mask-mode:alpha}
.f264{mask-composite:intersect}
.f265{mask-clip:no-clip}
.f266{mask-repeat:no-repeat}
.f267{mask-position:22.312px 15.787px}
.f268{mask-position:23.369px 17.256px}
.f269{mask-position:23.929px 16.264px}
.f270{mask-position:24.514px 18.94px}
.f271{mask-position:25.141px 17.839px}
.f272{mask-position:25.697px 16.755px}
.f273{mask-position:25.766px 20.883px}
.f274{mask-position:26.481px 19.65px}
.f275{mask-position:27.229px 18.433px}
.f276{mask-position:27.942px 21.754px}
.f277{mask-position:28.788px 20.38px}
.f278{mask-position:30.428px 22.656px}
.f279{mask-size:215.595px 208.136px}
.f280{mask-size:222.748px 231.438px}
.f281{mask-size:227.124px 219.493px}
.f282{mask-size:230.397px 257.849px}
.f283{mask-size:235.069px 245.227px}
.f284{mask-size:239.966px 232.13px}
.f285{mask-size:243.986px 275.552px}
.f286{mask-size:248.847px 260.698px}
.f287{mask-size:254.354px 246.275px}
.f288{mask-size:258.799px 294.532px}
.f289{mask-size:264.352px 278.169px}
.f290{mask-size:275.216px 315.207px}
.f291{max-width:none}
.f292{margin-bottom:0}
.f293{min-width:100%}
.f294{margin-left:0}
.f295{margin-left:1193.6px}
.f296{margin-left:1197.27px}
.f297{margin-left:1200.79px}
.f298{margin-left:1203.81px}
.f299{margin-left:201.98px}
.f300{margin-left:203.19px}
.f301{margin-left:23px}
.f302{margin-left:25px}
.f303{margin-left:316px}
.f304{margin-left:331px}
.f305{margin-left:385.41px}
.f306{margin-left:385.67px}
.f307{margin-left:388.2px}
.f308{margin-left:390.32px}
.f309{margin-left:450px}
.f310{margin-left:554.31px}
.f311{margin-left:555.83px}
.f312{margin-left:632.62px}
.f313{margin-left:636.08px}
.f314{margin-left:7.06px}
.f315{margin-left:734.11px}
.f316{margin-left:756.95px}
.f317{margin-left:974px}
.f318{margin-left:980.51px}
.f319{margin-left:983.18px}
.f320{margin-right:-100px}
.f321{margin-top:0}
.f322{margin-top:13px}
.f323{margin-top:14px}
.f324{margin-top:23px}
.f325{margin-top:7.63px}
.f326{object-fit:contain}
.f327{object-fit:cover}
.f328{opacity:0.5}
.f329{opacity:0.6}
.f330{overflow:clip}
.f331{overflow:hidden}
.f332{padding:10px}
.f333{padding:20px}
.f334{padding-bottom:110px}
.f335{padding-bottom:60px}
.f336{padding-left:160px}
.f337{padding-left:22px}
.f338{place-items:start}
.f339{pointer-events:none}
.f340{padding-top:70px}
.f341{padding-top:75px}
.f342{padding-top:90px}
.f343{padding-left:10px;padding-right:10px}
.f344{padding-left:116px;padding-right:116px}
.f345{padding-left:12px;padding-right:12px}
.f346{padding-left:14px;padding-right:14px}
.f347{padding-left:20px;padding-right:20px}
.f348{padding-left:86px;padding-right:86px}
.f349{padding-left:97px;padding-right:97px}
.f350{padding-top:10px;padding-bottom:10px}
.f351{padding-top:110px;padding-bottom:110px}
.f352{padding-top:117px;padding-bottom:117px}
.f353{padding-top:16px;padding-bottom:16px}
.f354{padding-top:28px;padding-bottom:28px}
.f355{padding-top:30px;padding-bottom:30px}
.f356{padding-top:35px;padding-bottom:35px}
.f357{padding-top:60px;padding-bottom:60px}
.f358{padding-top:65px;padding-bottom:65px}
.f359{position:relative}
.f360{--rot:5deg}
.f361{--rot:8deg}
.f362{--rot:90deg}
.f363{--rot:-6.33deg}
.f364{grid-row:1}
.f365{box-shadow:0px 4px 17.4px 1px rgba(0,0,0,0.05)}
.f366{flex-shrink:0}
.f367{width:15px;height:15px}
.f368{width:32px;height:32px}
.f369{width:4px;height:4px}
.f370{width:8px;height:8px}
.f371{width:100%;height:100%}
.f372{color:#a482de}
.f373{color:#af94ce}
.f374{color:#ebf777}
.f375{color:#f3eef7}
.f376{font-size:0px}
.f377{font-size:100px}
.f378{font-size:108px}
.f379{font-size:14px}
.f380{font-size:17px}
.f381{font-size:18px}
.f382{font-size:20px}
.f383{font-size:24px}
.f384{font-size:62px}
.f385{font-size:64px}
.f386{font-size:88px}
.f387{font-size:91px}
.f388{color:#292331}
.f389{color:#a482de}
.f390{color:#baafc7}
.f391{color:#bfa7db}
.f392{color:#c7bfd0}
.f393{color:#d5c7e8}
.f394{color:#ebf777}
.f395{color:#f3eef7}
.f396{color:#f5f0f7}
.f397{font-size:14px}
.f398{font-size:18px}
.f399{font-size:24px}
.f400{font-size:32px}
.f401{font-size:48px}
.f402{font-size:64px}
.f403{text-align:center}
.f404{text-align:left}
.f405{color:white}
.f406{top:50%}
.f407{top:-0.03%}
.f408{top:-113.88px}
.f409{top:-115.94px}
.f410{top:-130.01px}
.f411{top:-131.93px}
.f412{top:-188.3px}
.f413{top:-1px}
.f414{top:-77.1px}
.f415{top:-79.49px}
.f416{top:-96.31px}
.f417{top:-98.52px}
.f418{top:1117px}
.f419{top:124.37px}
.f420{top:127.1px}
.f421{top:127px}
.f422{top:155.57px}
.f423{top:158.53px}
.f424{top:2.19%}
.f425{top:220px}
.f426{top:2750px}
.f427{top:287.03px}
.f428{top:289.84px}
.f429{top:300px}
.f430{top:318px}
.f431{top:324.44px}
.f432{top:326px}
.f433{top:327.49px}
.f434{top:3610px}
.f435{top:365.56px}
.f436{top:368.87px}
.f437{top:39px}
.f438{top:412.06px}
.f439{top:415.67px}
.f440{top:424.41px}
.f441{top:440px}
.f442{top:525px}
.f443{top:527px}
.f444{top:540px}
.f445{top:57.96px}
.f446{top:685px}
.f447{top:70.02px}
.f448{top:72.36px}
.f449{top:83px}
.f450{top:853px}
.f451{top:865px}
.f452{top:95.97px}
.f453{top:98.5px}
.f454{top:calc(50% + 0.5px)}
.f455{top:calc(50% + 6px)}
.f456{top:calc(50% - 11px)}
.f457{top:calc(50% - 2.5px)}
.f458{letter-spacing:-2px}
.f459{letter-spacing:0.2px}
.f460{letter-spacing:0.5px}
.f461{width:0}
.f462{width:1027px}
.f463{width:1028px}
.f464{width:102px}
.f465{width:1040px}
.f466{width:11.314px}
.f467{width:1103.221px}
.f468{width:115.99%}
.f469{width:1150px}
.f470{width:1183px}
.f471{width:1206px}
.f472{width:1208px}
.f473{width:121px}
.f474{width:1367px}
.f475{width:1440px}
.f476{width:1489px}
.f477{width:1496px}
.f478{width:1511px}
.f479{width:155.541px}
.f480{width:155.574px}
.f481{width:155.998px}
.f482{width:156.391px}
.f483{width:1705px}
.f484{width:1728px}
.f485{width:196px}
.f486{width:200px}
.f487{width:206.295px}
.f488{width:207.358px}
.f489{width:21.213px}
.f490{width:210px}
.f491{width:220px}
.f492{width:22px}
.f493{width:238.798px}
.f494{width:240px}
.f495{width:243px}
.f496{width:246.75px}
.f497{width:250px}
.f498{width:251.143px}
.f499{width:253.937px}
.f500{width:255.241px}
.f501{width:256px}
.f502{width:259.964px}
.f503{width:261.076px}
.f504{width:264.819px}
.f505{width:264px}
.f506{width:267.456px}
.f507{width:269.909px}
.f508{width:271.58px}
.f509{width:274.657px}
.f510{width:274.793px}
.f511{width:274.918px}
.f512{width:275px}
.f513{width:278.608px}
.f514{width:279px}
.f515{width:280.05px}
.f516{width:280px}
.f517{width:282.506px}
.f518{width:282.959px}
.f519{width:284px}
.f520{width:285.737px}
.f521{width:285px}
.f522{width:286.444px}
.f523{width:287px}
.f524{width:290.009px}
.f525{width:290px}
.f526{width:291.09px}
.f527{width:291.344px}
.f528{width:294.938px}
.f529{width:299.359px}
.f530{width:299.71px}
.f531{width:300px}
.f532{width:303.002px}
.f533{width:303.078px}
.f534{width:306.98px}
.f535{width:309.134px}
.f536{width:313.31px}
.f537{width:315px}
.f538{width:317.805px}
.f539{width:320px}
.f540{width:321.559px}
.f541{width:328.712px}
.f542{width:329.485px}
.f543{width:337.65px}
.f544{width:345px}
.f545{width:350.261px}
.f546{width:354px}
.f547{width:374px}
.f548{width:379px}
.f549{width:403.114px}
.f550{width:405.382px}
.f551{width:412px}
.f552{width:420px}
.f553{width:429px}
.f554{width:44px}
.f555{width:453px}
.f556{width:455px}
.f557{width:460px}
.f558{width:473px}
.f559{width:474px}
.f560{width:475px}
.f561{width:478px}
.f562{width:481px}
.f563{width:487px}
.f564{width:493px}
.f565{width:495px}
.f566{width:500px}
.f567{width:503.628px}
.f568{width:505.834px}
.f569{width:510px}
.f570{width:554px}
.f571{width:555px}
.f572{width:564.378px}
.f573{width:566.547px}
.f574{width:56px}
.f575{width:570.035px}
.f576{width:570px}
.f577{width:574px}
.f578{width:578px}
.f579{width:584px}
.f580{width:586px}
.f581{width:587px}
.f582{width:590px}
.f583{width:600px}
.f584{width:640px}
.f585{width:650px}
.f586{width:685px}
.f587{width:690px}
.f588{width:697px}
.f589{width:720px}
.f590{width:745.74px}
.f591{width:810px}
.f592{width:898px}
.f593{width:911px}
.f594{width:920px}
.f595{width:929px}
.f596{width:949px}
.f597{width:970px}
.f598{width:min-content}
.f599{width:100%}
.f600{white-space:nowrap}
.f601{white-space:pre}
.f602{white-space:pre-wrap}