.f0{--rot:-15deg}
.f1{--rot:-2deg}
.f2{--rot:-45deg}
.f3{--rot:-5deg}
.f4{--rot:-8deg}
.f5{--tx:-50%}
.f6{--ty:-50%}
.f7{overflow-wrap:break-word}
.f8{position:absolute}
.f9{backdrop-filter:blur(7.2px)}
.f10{background:rgba(32,27,42,0.5)}
.f11{background:rgba(84,101,255,0.16)}
.f12{background:var(--color-accent-default,#af94ce)}
.f13{background:var(--color-accent-hover,#bfa7db)}
.f14{background:var(--color-accent-lime,#ebf777)}
.f15{background:var(--color-background-default,#191620)}
.f16{background:var(--color-background-hover,#332a40)}
.f17{background:var(--color-background-surface,#262030)}
.f18{background:var(--color-palette-deep-plum,#51416d)}
.f19{background:var(--color-palette-iris-purple,#8964cf)}
.f20{background:var(--color-palette-matte-mint,#a4ccc7)}
.f21{background:var(--shoco-journey,#201b2a)}
.f22{background:var(--shoco-lilac,#bea7de)}
.f23{display:block}
.f24{border-width:1px}
.f25{border-width:2px}
.f26{border-width:3px}
.f27{border-color:#af94ce}
.f28{border-color:#ebf777}
.f29{border-color:var(--shoco-accent,#a482de)}
.f30{border-color:var(--shoco-journey,#201b2a)}
.f31{border-color:var(--shoco-paper,#f5f0f7)}
.f32{border-left-width:3px}
.f33{border-style:solid}
.f34{bottom:0}
.f35{bottom:1113px}
.f36{bottom:180px}
.f37{grid-column:1}
.f38{align-content:stretch}
.f39{display:contents}
.f40{cursor:pointer}
.f41{display:flex}
.f42{flex-direction:column}
.f43{flex:none}
.f44{font-family:"DM Sans",sans-serif;font-weight:700}
.f45{font-family:"DM Sans",sans-serif;font-weight:500}
.f46{font-family:"DM Sans",sans-serif;font-weight:400}
.f47{font-family:"DM Sans",sans-serif;font-weight:400}
.f48{font-family:"DM Sans",sans-serif;font-weight:500}
.f49{font-weight:700}
.f50{font-weight:500}
.f51{font-weight:400}
.f52{gap:100px}
.f53{gap:102px}
.f54{gap:10px}
.f55{gap:110px}
.f56{gap:12px}
.f57{gap:130px}
.f58{gap:13px}
.f59{gap:15px}
.f60{gap:16px}
.f61{gap:18px}
.f62{gap:20px}
.f63{gap:24px}
.f64{gap:25px}
.f65{gap:26px}
.f66{gap:27px}
.f67{gap:28px}
.f68{gap:30px}
.f69{gap:34px}
.f70{gap:38px}
.f71{gap:3px}
.f72{gap:40px}
.f73{gap:42px}
.f74{gap:43px}
.f75{gap:46px}
.f76{gap:48px}
.f77{gap:50px}
.f78{gap:54px}
.f79{gap:58px}
.f80{gap:5px}
.f81{gap:60px}
.f82{gap:62px}
.f83{gap:66px}
.f84{gap:7px}
.f85{grid-template-columns:max-content}
.f86{grid-template-rows:max-content}
.f87{height:0}
.f88{height:1000px}
.f89{height:100px}
.f90{height:1011.427px}
.f91{height:105px}
.f92{height:110px}
.f93{height:1170px}
.f94{height:127.145px}
.f95{height:127.305px}
.f96{height:1300px}
.f97{height:1320px}
.f98{height:1339px}
.f99{height:134.442px}
.f100{height:1340px}
.f101{height:138.138px}
.f102{height:140px}
.f103{height:177px}
.f104{height:180px}
.f105{height:202px}
.f106{height:215.262px}
.f107{height:228.387px}
.f108{height:22px}
.f109{height:235.887px}
.f110{height:238.849px}
.f111{height:240.278px}
.f112{height:243.113px}
.f113{height:249.949px}
.f114{height:254.543px}
.f115{height:254.685px}
.f116{height:259.272px}
.f117{height:259.737px}
.f118{height:264.599px}
.f119{height:265.518px}
.f120{height:265.706px}
.f121{height:270.828px}
.f122{height:272.276px}
.f123{height:275.885px}
.f124{height:281.654px}
.f125{height:283.472px}
.f126{height:285.223px}
.f127{height:285.686px}
.f128{height:289.031px}
.f129{height:292.04px}
.f130{height:292.45px}
.f131{height:294.63px}
.f132{height:300.898px}
.f133{height:306.33px}
.f134{height:306.653px}
.f135{height:313.242px}
.f136{height:315.926px}
.f137{height:322.761px}
.f138{height:328.742px}
.f139{height:329px}
.f140{height:330.325px}
.f141{height:336.287px}
.f142{height:353.454px}
.f143{height:361.727px}
.f144{height:383px}
.f145{height:390px}
.f146{height:395px}
.f147{height:405px}
.f148{height:415px}
.f149{height:497px}
.f150{height:504px}
.f151{height:510px}
.f152{height:560px}
.f153{height:580px}
.f154{height:592.823px}
.f155{height:600px}
.f156{height:602.197px}
.f157{height:604px}
.f158{height:605px}
.f159{height:620px}
.f160{height:622px}
.f161{height:635px}
.f162{height:64px}
.f163{height:654px}
.f164{height:660px}
.f165{height:680px}
.f166{height:690px}
.f167{height:710px}
.f168{height:715px}
.f169{height:720px}
.f170{height:74px}
.f171{height:766px}
.f172{height:769px}
.f173{height:76px}
.f174{height:788px}
.f175{height:800px}
.f176{height:831px}
.f177{height:859.242px}
.f178{height:866px}
.f179{height:888px}
.f180{height:890px}
.f181{height:95.62%}
.f182{height:980px}
.f183{height:981px}
.f184{height:100%}
.f185{display:inline-grid}
.f186{inset:0}
.f187{inset:-0.28px 0}
.f188{inset:-4.79px -5.75% -4.79px 0}
.f189{inset:-7.36px -4.55% -7.36px 0}
.f190{inset:-7.36px -4.71% -7.36px 0}
.f191{align-items:center}
.f192{align-items:flex-end}
.f193{align-items:flex-start}
.f194{justify-content:space-between}
.f195{justify-content:center}
.f196{justify-content:flex-end}
.f197{line-height:0}
.f198{line-height:100.1px}
.f199{line-height:101.52px}
.f200{line-height:103.02px}
.f201{line-height:103.4px}
.f202{line-height:105.84px}
.f203{line-height:106.92px}
.f204{line-height:112.86px}
.f205{line-height:17.5px}
.f206{line-height:21.25px}
.f207{line-height:22.4px}
.f208{line-height:22.5px}
.f209{line-height:23.1px}
.f210{line-height:23.4px}
.f211{line-height:25px}
.f212{line-height:28px}
.f213{line-height:30px}
.f214{line-height:32.3px}
.f215{line-height:32.4px}
.f216{line-height:32.5px}
.f217{line-height:32px}
.f218{line-height:33px}
.f219{line-height:34px}
.f220{line-height:39.6px}
.f221{line-height:62.5px}
.f222{line-height:65.72px}
.f223{line-height:74.2px}
.f224{line-height:76.32px}
.f225{line-height:90.64px}
.f226{line-height:92.4px}
.f227{line-height:93.5px}
.f228{line-height:94.6px}
.f229{line-height:97.37px}
.f230{line-height:98.44px}
.f231{line-height:var(--font-line-height-body,28px)}
.f232{line-height:var(--font-line-height-h1,56px)}
.f233{line-height:var(--font-line-height-h2,40px)}
.f234{line-height:var(--font-line-height-h3,32px)}
.f235{line-height:var(--font-line-height-hero,72px)}
.f236{left:0}
.f237{left:50%}
.f238{left:-10.75px}
.f239{left:-108.7px}
.f240{left:-112.48px}
.f241{left:-14.31px}
.f242{left:-16.09%}
.f243{left:-214.28px}
.f244{left:-218.26px}
.f245{left:-258px}
.f246{left:-4px}
.f247{left:-62.36px}
.f248{left:-66.53px}
.f249{left:101.67px}
.f250{left:106px}
.f251{left:109px}
.f252{left:111px}
.f253{left:112px}
.f254{left:119px}
.f255{left:122px}
.f256{left:124px}
.f257{left:136.02px}
.f258{left:139.69px}
.f259{left:167px}
.f260{left:183px}
.f261{left:205.63px}
.f262{left:209.67px}
.f263{left:288.58px}
.f264{left:293.06px}
.f265{left:300.92px}
.f266{left:304.68px}
.f267{left:38.95px}
.f268{left:390.02px}
.f269{left:394.16px}
.f270{left:42.85px}
.f271{left:482.61px}
.f272{left:486.45px}
.f273{left:97px}
.f274{left:calc(16.67% + 117px)}
.f275{left:calc(33.33% + 75px)}
.f276{left:calc(33.33% + 92px)}
.f277{left:calc(50% + 0.5px)}
.f278{left:calc(50% + 107px)}
.f279{left:calc(50% - 0.5px)}
.f280{left:calc(50% - 100px)}
.f281{left:calc(66.67% + 38px)}
.f282{text-transform:lowercase}
.f283{mask-mode:alpha}
.f284{mask-composite:intersect}
.f285{mask-clip:no-clip}
.f286{mask-repeat:no-repeat}
.f287{mask-position:22.312px 15.787px}
.f288{mask-position:23.369px 17.256px}
.f289{mask-position:23.929px 16.264px}
.f290{mask-position:24.514px 18.94px}
.f291{mask-position:25.141px 17.839px}
.f292{mask-position:25.697px 16.755px}
.f293{mask-position:25.766px 20.883px}
.f294{mask-position:26.481px 19.65px}
.f295{mask-position:27.229px 18.433px}
.f296{mask-position:27.942px 21.754px}
.f297{mask-position:28.788px 20.38px}
.f298{mask-position:30.428px 22.656px}
.f299{mask-size:215.595px 208.136px}
.f300{mask-size:222.748px 231.438px}
.f301{mask-size:227.124px 219.493px}
.f302{mask-size:230.397px 257.849px}
.f303{mask-size:235.069px 245.227px}
.f304{mask-size:239.966px 232.13px}
.f305{mask-size:243.986px 275.552px}
.f306{mask-size:248.847px 260.698px}
.f307{mask-size:254.354px 246.275px}
.f308{mask-size:258.799px 294.532px}
.f309{mask-size:264.352px 278.169px}
.f310{mask-size:275.216px 315.207px}
.f311{max-width:none}
.f312{margin-bottom:0}
.f313{min-width:100%}
.f314{margin-left:0}
.f315{margin-left:1193.6px}
.f316{margin-left:1197.27px}
.f317{margin-left:1200.79px}
.f318{margin-left:1203.81px}
.f319{margin-left:201.98px}
.f320{margin-left:203.19px}
.f321{margin-left:23px}
.f322{margin-left:25px}
.f323{margin-left:316px}
.f324{margin-left:331px}
.f325{margin-left:385.41px}
.f326{margin-left:385.67px}
.f327{margin-left:388.2px}
.f328{margin-left:390.32px}
.f329{margin-left:450px}
.f330{margin-left:554.31px}
.f331{margin-left:555.83px}
.f332{margin-left:632.62px}
.f333{margin-left:636.08px}
.f334{margin-left:7.06px}
.f335{margin-left:734.11px}
.f336{margin-left:756.95px}
.f337{margin-left:974px}
.f338{margin-left:980.51px}
.f339{margin-left:983.18px}
.f340{margin-right:-100px}
.f341{margin-top:0}
.f342{margin-top:13px}
.f343{margin-top:14px}
.f344{margin-top:23px}
.f345{margin-top:7.63px}
.f346{object-fit:contain}
.f347{object-fit:cover}
.f348{opacity:0.5}
.f349{opacity:0.6}
.f350{overflow:clip}
.f351{overflow:hidden}
.f352{padding:10px}
.f353{padding:20px}
.f354{padding-bottom:110px}
.f355{padding-bottom:60px}
.f356{padding-left:160px}
.f357{padding-left:22px}
.f358{place-items:start}
.f359{pointer-events:none}
.f360{padding-top:70px}
.f361{padding-top:75px}
.f362{padding-top:90px}
.f363{padding-left:10px;padding-right:10px}
.f364{padding-left:116px;padding-right:116px}
.f365{padding-left:12px;padding-right:12px}
.f366{padding-left:14px;padding-right:14px}
.f367{padding-left:20px;padding-right:20px}
.f368{padding-left:86px;padding-right:86px}
.f369{padding-top:10px;padding-bottom:10px}
.f370{padding-top:110px;padding-bottom:110px}
.f371{padding-top:16px;padding-bottom:16px}
.f372{padding-top:28px;padding-bottom:28px}
.f373{padding-top:30px;padding-bottom:30px}
.f374{padding-top:35px;padding-bottom:35px}
.f375{padding-top:60px;padding-bottom:60px}
.f376{padding-top:65px;padding-bottom:65px}
.f377{position:relative}
.f378{--rot:5deg}
.f379{--rot:8deg}
.f380{--rot:90deg}
.f381{--rot:-2.1deg}
.f382{--rot:-6.33deg}
.f383{grid-row:1}
.f384{box-shadow:0px 4px 17.4px 1px rgba(0,0,0,0.05)}
.f385{flex-shrink:0}
.f386{width:15px;height:15px}
.f387{width:32px;height:32px}
.f388{width:4px;height:4px}
.f389{width:8px;height:8px}
.f390{width:100%;height:100%}
.f391{color:#a482de}
.f392{color:#af94ce}
.f393{color:#ebf777}
.f394{color:#f3eef7}
.f395{font-size:100px}
.f396{font-size:101px}
.f397{font-size:108px}
.f398{font-size:13px}
.f399{font-size:14px}
.f400{font-size:17px}
.f401{font-size:18px}
.f402{font-size:20px}
.f403{font-size:24px}
.f404{font-size:26px}
.f405{font-size:50px}
.f406{font-size:62px}
.f407{font-size:70px}
.f408{font-size:72px}
.f409{font-size:85px}
.f410{font-size:86px}
.f411{font-size:88px}
.f412{font-size:91px}
.f413{font-size:92px}
.f414{font-size:94px}
.f415{color:var(--color-accent-hover,#bfa7db)}
.f416{color:var(--color-accent-lime,#ebf777)}
.f417{color:var(--color-text-on-lime,#292331)}
.f418{color:var(--color-text-primary,#f3eef7)}
.f419{color:var(--color-text-secondary,#baafc7)}
.f420{color:var(--shoco-accent,#a482de)}
.f421{color:var(--shoco-note,#d5c7e8)}
.f422{color:var(--shoco-paper,#f5f0f7)}
.f423{color:var(--shoco-secondary,#c7bfd0)}
.f424{font-size:var(--font-size-body,18px)}
.f425{font-size:var(--font-size-h1,48px)}
.f426{font-size:var(--font-size-h2,32px)}
.f427{font-size:var(--font-size-h3,24px)}
.f428{font-size:var(--font-size-hero,64px)}
.f429{font-size:var(--font-size-small,14px)}
.f430{text-align:center}
.f431{text-align:left}
.f432{color:white}
.f433{top:50%}
.f434{top:-0.03%}
.f435{top:-113.88px}
.f436{top:-115.94px}
.f437{top:-130.01px}
.f438{top:-131.93px}
.f439{top:-188.3px}
.f440{top:-77.1px}
.f441{top:-79.49px}
.f442{top:-96.31px}
.f443{top:-98.52px}
.f444{top:1117px}
.f445{top:124.37px}
.f446{top:127.1px}
.f447{top:127px}
.f448{top:141px}
.f449{top:155.57px}
.f450{top:158.53px}
.f451{top:2.19%}
.f452{top:2098px}
.f453{top:220px}
.f454{top:265px}
.f455{top:287.03px}
.f456{top:289.84px}
.f457{top:2964px}
.f458{top:300px}
.f459{top:318px}
.f460{top:324.44px}
.f461{top:326px}
.f462{top:327.49px}
.f463{top:344px}
.f464{top:365.56px}
.f465{top:368.87px}
.f466{top:39px}
.f467{top:410.76px}
.f468{top:412.06px}
.f469{top:415.67px}
.f470{top:440px}
.f471{top:525px}
.f472{top:526px}
.f473{top:527px}
.f474{top:540px}
.f475{top:57.96px}
.f476{top:685px}
.f477{top:70.02px}
.f478{top:72.36px}
.f479{top:83px}
.f480{top:853px}
.f481{top:865px}
.f482{top:95.97px}
.f483{top:98.5px}
.f484{top:calc(50% + 0.5px)}
.f485{top:calc(50% + 6px)}
.f486{top:calc(50% - 11px)}
.f487{top:calc(50% - 2.5px)}
.f488{letter-spacing:-2px}
.f489{letter-spacing:0.2px}
.f490{letter-spacing:0.5px}
.f491{letter-spacing:var(--font-letter-spacing-body,0.2px)}
.f492{letter-spacing:var(--font-letter-spacing-heading,0.5px)}
.f493{width:0}
.f494{width:1027px}
.f495{width:1028px}
.f496{width:102px}
.f497{width:1040px}
.f498{width:11.314px}
.f499{width:1103.221px}
.f500{width:1120px}
.f501{width:115.99%}
.f502{width:1183px}
.f503{width:1206px}
.f504{width:1208px}
.f505{width:121px}
.f506{width:1367px}
.f507{width:1440px}
.f508{width:1489px}
.f509{width:1496px}
.f510{width:1511px}
.f511{width:155.541px}
.f512{width:155.574px}
.f513{width:155.998px}
.f514{width:156.391px}
.f515{width:157px}
.f516{width:1728px}
.f517{width:196px}
.f518{width:200px}
.f519{width:206.295px}
.f520{width:207.358px}
.f521{width:21.213px}
.f522{width:210px}
.f523{width:220px}
.f524{width:22px}
.f525{width:238.798px}
.f526{width:240px}
.f527{width:243px}
.f528{width:246.75px}
.f529{width:250px}
.f530{width:251.143px}
.f531{width:253.937px}
.f532{width:255.241px}
.f533{width:256px}
.f534{width:259.964px}
.f535{width:261.076px}
.f536{width:264.819px}
.f537{width:264px}
.f538{width:267.456px}
.f539{width:269.909px}
.f540{width:271.58px}
.f541{width:274.657px}
.f542{width:274.793px}
.f543{width:274.918px}
.f544{width:275px}
.f545{width:278.608px}
.f546{width:279px}
.f547{width:280.05px}
.f548{width:280px}
.f549{width:282.506px}
.f550{width:282.959px}
.f551{width:284px}
.f552{width:285.737px}
.f553{width:285px}
.f554{width:286.444px}
.f555{width:290.009px}
.f556{width:290px}
.f557{width:291.09px}
.f558{width:291.344px}
.f559{width:294.938px}
.f560{width:299.359px}
.f561{width:299.71px}
.f562{width:300px}
.f563{width:303.002px}
.f564{width:303.078px}
.f565{width:306.98px}
.f566{width:309.134px}
.f567{width:313.31px}
.f568{width:315px}
.f569{width:317.805px}
.f570{width:320px}
.f571{width:321.559px}
.f572{width:328.712px}
.f573{width:329.485px}
.f574{width:337.65px}
.f575{width:345px}
.f576{width:350.261px}
.f577{width:350px}
.f578{width:354px}
.f579{width:374px}
.f580{width:379px}
.f581{width:420px}
.f582{width:429px}
.f583{width:44px}
.f584{width:453px}
.f585{width:455px}
.f586{width:460px}
.f587{width:473px}
.f588{width:474px}
.f589{width:475px}
.f590{width:478px}
.f591{width:481px}
.f592{width:487px}
.f593{width:495px}
.f594{width:500px}
.f595{width:510px}
.f596{width:554px}
.f597{width:555px}
.f598{width:56px}
.f599{width:570.035px}
.f600{width:570px}
.f601{width:574px}
.f602{width:578px}
.f603{width:584px}
.f604{width:586px}
.f605{width:587px}
.f606{width:590px}
.f607{width:600px}
.f608{width:640px}
.f609{width:641px}
.f610{width:650px}
.f611{width:665px}
.f612{width:668.224px}
.f613{width:685px}
.f614{width:690px}
.f615{width:697px}
.f616{width:720px}
.f617{width:745.74px}
.f618{width:748.908px}
.f619{width:810px}
.f620{width:822px}
.f621{width:847px}
.f622{width:898px}
.f623{width:911px}
.f624{width:920px}
.f625{width:929px}
.f626{width:932px}
.f627{width:949px}
.f628{width:952px}
.f629{width:960px}
.f630{width:962.94px}
.f631{width:970px}
.f632{width:980px}
.f633{width:983.033px}
.f634{width:min-content}
.f635{width:100%}
.f636{white-space:nowrap}
.f637{white-space:pre}
.f638{white-space:pre-wrap}